@import url(https://fonts.googleapis.com/css?family=Merriweather|Open+Sans);

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

/*navigation*/

header {
    background-color: #27445D;
    padding: 1rem;
    padding-right: 3rem;
    position: fixed;
    width: 96%;
    height: 5vh;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    gap: 2rem;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: aliceblue;
}

a:hover {
    color: #71BBB2;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #71BBB2;
}

/*Home*/

.home {
    height: 100vh;
    text-align: center;
    background-image: url(https://images.squarespace-cdn.com/content/v1/61091f2b27c52d42fefedd21/1628194206565-566D3BFL5PH1VYH782NF/Untitled+design-55.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.home h1{
    padding-top: 30vh;
    height: 20vh;
    font-size: 100px;
    color: #2e4961;
    font-family: Merriweather, serif;
    text-shadow: 2px 2px #f9f4e3;
}

.home p {
    padding-bottom: 20vh;
    padding-top: 5vh;
    height: 20vh;
    font-size: 50px;
    color: #27445D;
    font-family: "Open Sans", sans-serif;
    text-shadow: 2px 2px #ffffff;
}

/*sections*/

section {
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: 50vh 50vh;
    grid-template-areas: 
        "image h2"
        "image p";
}

section img {
    grid-area: image;
    place-self: center;

}

section h2 {
    grid-area: h2;
    align-self: end;
    padding-bottom: 5vh;
    font-family: Merriweather, serif;
    font-size: 46px;
    width: 92%;
    color: #3a2f0c;
    text-shadow: 1px 1px #eaf8ff;
}

section p {
    grid-area: p;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    width: 82%;
    justify-content: center;
    align-self: start;
    text-align: justify;
    color: #3a2f0c;
}

#about {
    background-color: #f9f4e3;
}

#about img {
    width: 80%;
    height: auto;
    border: 7px solid #f5fdff;
    box-shadow: 10px 10px rgb(250, 250, 250);
}

/*slideshow*/

/* Slideshow container */
.slideshow-container {
    grid-area: image;
    max-width: 90vh;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #f5fdff;
}

/* Caption text */
.text {
  font-family: Merriweather, serif;
  color: #583333;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 30%;
  text-align: center;
  background-color: aliceblue;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




footer {
    text-align: center;
    background-color: #fdfbc0;
}

/*hamburger icon*/

#hamburger-icon {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    font-family: "Open Sans", sans-serif;
}


.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}


/*responsiveness*/


@media (max-width: 1024px) {
    .home {
        height: auto;
    }
    .home h1{
        padding-top: 20vh;
        height: auto;
        font-size: 90px;
    }

    .home p {
        padding-top: 2vh;
        height: auto;
        font-size: 40px;
    }
    section {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "image"
            "h2"
            "p";
    }

    section img {
        grid-area: image;
        width: 50%;
        height: auto;
        margin-top: 7vh;
    }
    
    section h2 {
        grid-area: h2;
        place-self: center;
        align-self: end;
        padding-bottom: 2vh;
        font-size: 37px;
        width: 50%;
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 3vh;
    }
    
    section p {
        place-self: center;
        font-size: 14px;
        width: 60%;
        align-self: start;
        text-align: justify;
        padding-bottom: 5vh;
    }

}


@media (max-width: 600px) {
    .home {
        height: auto;
    }
    .home h1{
        padding-top: 20vh;
        height: auto;
        font-size: 60px;
    }

    .home p {
        padding-top: 1vh;
        height: auto;
        font-size: 30px;
    }
    section {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "image"
            "h2"
            "p";
    }

    section img {
        grid-area: image;
        width: 30%;
        height: auto;
        margin-top: 3vh;
    }
    
    section h2 {
        grid-area: h2;
        place-self: center;
        align-self: end;
        padding-bottom: 1vh;
        font-size: 20px;
        width: 30%;
        text-align: center;
        padding-top: 2vh;
        padding-bottom: 1vh;
    }
    
    section p {
        place-self: center;
        font-size: 10px;
        width: 50%;
        align-self: start;
        text-align: justify;
        padding-bottom: 3vh;
    }

    #types img {
        width: 50%;
    }

    .nav {
        display: none;
    }
    .hamburger-icon {
        display: flex;
    }
    #hamburger-nav {
        display: flex;
        height: auto;
        padding: 1rem;
    }
}